.background-history {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('../media/covid-19.jpg');
    background-size: cover;
    background-position: center;
    background-repeat:repeat;
}

.section-container{
    margin:50px;
    padding:25px;
    color: white;
    background-color: rgba(94, 41, 43, 0.65);
    font-size: 28px;
    justify-items: center;
}



.blocks{
    color:white;
    background-color: rgba(166, 61, 64, 0.75);
    padding:35px;

}

img {
    width: 100%;
    height: 75%;
}
