
#banner-title {
  flex-grow: 0.2;
    margin-top: 70px;
    padding-left: 190px;
    color: black;
    font-size: 30px;
    font-family: sproxima-nova,Noto Sans,ui-sans-serif,system-ui, -apple-system,
    BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue, 
    Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color emoji;
}


.top-banner {
  height: 190px;
  display: flex;
  flex-grow: 2;
  padding: 35px;
  background: f05a28;
  margin: auto;
  margin-bottom: 50px;
  background-color: #ffef5c;
  margin-bottom: 75px;
  max-width: 970px;
    border-radius: 25px;
}

   

.top-banner img{
  padding-right: 100px;
}


li {
  color: black;
  font-size: 18px;
  line-height: 30px;
  
}
ul {
  line-height: 40px;
}

.row-padding {
  padding: 50px;
}
h2 {
  font-size:1.4em;
}


h3 {
  font-size:0.99em;
  color:#181819;
  font-weight:545;
}
body{
  margin: auto;
  display: block;
  background-color: #fbfbfb;
}

.explore-more-text{
  font-weight: 680;
  font-size: 28px;
}

.bottom-half{
  padding-top: 40px;
}

.space-need p{
  line-height: 40px;

}

.main a{
  font-weight:680;
  color:inherit;

}
.wrapping{
  max-width: 1010px;
    margin: auto;
    margin-bottom: px;
    background-color: #7be5f3;
    border-radius: 25px;
    padding-top: 45px;
    padding-bottom: 1px;
    margin-bottom: 130px;
    box-shadow: -3px 0px 10px 13px #fbf1999e;
}

.collapsible {
  background-color:white;
  color: rgb(3, 3, 3);
  cursor: pointer;
  padding: 17px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-bottom: 5px solid lightgrey;
  font-family:sproxima-nova,Noto Sans,ui-sans-serif,system-ui,
  -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,
  Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color emoji;
  font-weight: 680;
  font-size: 20px;
  line-height: 35px;
}

.active, .collapsible:hover {
  background-color: #f0eed1fb;
}
.collapsible:after {
  content: '\002B';
  color: lightgray;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 30px 30px 30px 30px;
  display: none;
  overflow: hidden;
  background-color: #f0eed1fb;
}


  .main {
  background-color: white;
  border-radius: 25px;
  max-width: 870px;
  word-spacing: 3px;
  font-size: 18px;
  padding: 30px;
  line-height: 30px;
  margin: auto;
  margin-bottom: 60px;
  font-family: sproxima-nova,Noto Sans,ui-sans-serif,system-ui, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue, Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color emoji;
}
